<a href="{% url 'test'  %}">test</a>
<a href="{% url 'test'  %}">test</a>
<a href="{% url 'test' %}">test</a>

<a href="../test/">test</a>
<a href="../test/">test</a>
<a href="../test/">test</a>

<h1>ERROR ERROR </h1>
