<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h3 style="color:blue;">La Persona es {{ persona|upper }} </h3>
      <h1>estará vacía? {{ variable|default:'hola soy el default' }} </h1
  </body>
</html>
