<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      {% block seccion1 %}
          <h1>soy el papa</h1>
          <section>
              <p>holaasfasfda sdfasdfasdf</p>
          </section>
      {% endblock %}
      <h3>esto divide los dos bloques</h3>
      {% block seccion2 %}
          <a href="www.google.com">google</a>
      {% endblock%}
  </body>
</html>
